#include "sdonexit.rc.h"

#include <windows.h>

IDD_MAINDIALOG DIALOG 17, 9, 167, 62
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | 0x200L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Vad vill du göra?"
FONT 11, "MS Sans Serif"
{
 CONTROL "Stäng av datorn", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 160, 14
 CONTROL "Logga in igen på terminalservern", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 24, 160, 14
 CONTROL "Logga in på den här datorn", IDHELP, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 44, 160, 14
}

