#include "fsplitw.rc.h"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // LANG_ENGLISH/SUBLANG_ENGLISH_US
		BEGIN
			VALUE "CompanyName", "Olof Lagerkvist\000"
			VALUE "FileDescription", "FileSplit\000"
			VALUE "FileVersion", "1.1.0\000"
			VALUE "InternalName", "fsplitw\000"
			VALUE "LegalCopyright", "Copyright \251 Olof Lagerkvist, 1998-2005\000"
			VALUE "LegalTrademarks", "\000"
			VALUE "OriginalFilename", "fsplitw.exe\000"
			VALUE "ProductName", "File Splitting Tool for Windows\000"
			VALUE "ProductVersion", "1.10\000"
			VALUE "PhoneNumber", "+46 70 345 89 52\000"
			VALUE "WebAddress", "http://www.ltr-data.se\000"
			VALUE "E-mailAddress", "olof@ltr-data.se\000"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
	VALUE "Translation", 0x409, 1252

	END
END

IDI_APPICON ICON DISCARDABLE "fsplitw.ico"


IDD_DIALOGPROGRESS DIALOG 0, 0, 166, 48
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "FileSplit"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_STATICSTATUS, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 2, 162, 12
 CONTROL "", IDC_PROGRESSBAR_BKG, "static", SS_WHITERECT | WS_CHILD | WS_VISIBLE, 2, 14, 162, 10
 CONTROL "", IDC_PROGRESSBAR, "static", SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 2, 14, 0, 10
 CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 30, 54, 14
}

IDD_MAINDIALOG DIALOG 66, 26, 262, 134
EXSTYLE WS_EX_APPWINDOW
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "FileSplit"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_STATIC_HELPTEXT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 2, 255, 66
 CONTROL "Name of file to split:", 102, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 70, 72, 9
 CONTROL "", IDC_EDIT_SOURCE, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 68, 175, 12
 CONTROL "...", IDC_BUTTON_FIND_SOURCE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 246, 68, 12, 12
 CONTROL "Name of split files:", 105, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 86, 72, 9
 CONTROL "", IDC_EDIT_TARGET, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 84, 175, 12
 CONTROL "...", IDC_BUTTON_FIND_TARGET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 246, 84, 12, 12
 CONTROL "Max size of each part file (in bytes):", 104, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 102, 124, 8
 CONTROL "1457664", IDC_EDIT_SIZE, "edit", ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 124, 100, 134, 12
 CONTROL "&Start", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 96, 116, 50, 14
 CONTROL "Close", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 116, 50, 14
 CONTROL "About", IDHELP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 116, 50, 14
}

